In [1]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import re

In [2]:
beer_list = ['kloud', 'fitz super clear', 'Asahi super dry', 'Tsingtao', 'Heineken',
 'Kirin ichiban', 'Sapporo Premium Beer / Draft Beer', 'stella artois', 'guinness braught',
 '1664 Blanc', 'pilsner urquell', 'San Miguel', 'OB premier pilsner', 'cass fresh',
 'stout', 'dry finish', 'max hite', 'hite extra cold', 'victoria bitter', 'BINTANG pilsner',
 'krombacher weizen', 'Miller Genuine Draft', 'Hoegaarden Cherry', 'TIGER REDLER',
 "Suntory The Premium Malt's", 'REEPER B Weissbier', 'PEEPER B IPA', 'TIGER BEER',
 'TSINGTAO WHEAT BEER', 'Erdinger Weissbier', 'Carlsberg', 'Budweiser ', 'Hoegarden',
 'YEBISU', 'Paulaner Hefe-weissbier', 'Desperados', 'Peroni Nastro Azzurro',
 'Edelweiss Snowfresh', 'Heineken Dark Lager', 'Kozel Dark 10', 'Guinness original',
 'Filite', 'SEOULITE ALE', 'JEJU WIT ALE', 'Stephans Brau Philsner', 'Stephans Brau Larger',
 'Stephans BrÃ¤u Hefe-Weizen NaturtrÃ¼b', 'Bali Hai Premium Larger', 'Apostel Brau',
 'Egger Zwickl', 'Egger Marzenbier', 'Holsten Premium Beer', 'Franzisaner Hefe-Weissbier',
 'Egger Radler Grapefruit', 'Barvaria Premium', 'Barvaria 8.6', 'Lapin Kulta IV A',
 'Grolsch Premium Larger', 'Gambrinus Original', 'XXXX Gold', 'Leffe Brown',
 'Lowenbrau Original', 'Asahi Super dray Black ', 'Harbin Beer', "beck's",
 'Hoegaarden Rosee', 'Platinum White Ale', 'Platinum Pale Ale', 'Ambar Especial Larger',
 'SchÃ¶fferhofer Grapefruit', 'Volfas Engelman GrÃ¼nberger Hefeweizen', 'Berliner Kindl Pilsener ',
 'BURGE MEESTER', 'Red Rock', 'Erdinger Dunkel', 'Warsteiner Premium Verum', "Queen's Ale Blonde Type"]

beer_list = pd.DataFrame(data=beer_list, columns=['ê²€ìƒ‰ì´ë¦„'])

data = pd.DataFrame(data=[], columns=['ë§¥ì£¼ì •ë³´', 'ê²€ìƒ‰ì´ë¦„', 'ë§¥ì£¼ì´ë¦„'])

chromedriver = 'chromedriver.exe'

In [4]:
chromedriver = 'chromedriver.exe'
url = 'https://www.ratebeer.com/search?tab=beer'
driver = webdriver.Chrome(chromedriver)
driver.get(url)
driver.set_window_size(900, 900)
time.sleep(3)
element = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/header/div[2]/div[1]/div[2]/div/div/input')
time.sleep(3)
element.click()
time.sleep(3)
element.send_keys('kloud')
time.sleep(3)
driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/header/div[2]/div[1]/div[2]/div/div[2]/a[1]/div/div[2]').click()
time.sleep(3)
beer_name = driver.find_element(By.CSS_SELECTOR, '.MuiTypography-root.Text___StyledTypographyTypeless-bukSfn.pzIrn.text-500.colorized__WrappedComponent-hrwcZr.hwjOn.mt-3.MuiTypography-h4').text
print(beer_name)
string = driver.find_element(By.CLASS_NAME, 'MuiTypography-root.Text___StyledTypographyTypeless-bukSfn.pzIrn.text-500.colorized__WrappedComponent-hrwcZr.hwjOn.MuiTypography-h6').text
print(string)
extract = re.compile('[0-9]*,*[0-9]+')
str_num = extract.findall(string)
str_num = str_num[0]
print(str_num)

if ',' in str_num:
    str_num = str_num.split(',')
    str_num = int(str_num[0]+str_num[1])
    num = str_num
else:
    num = int(str_num)

print(num)

time.sleep(3)
element = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[4]/div/div[2]/div[1]/div[2]')
time.sleep(3)
driver.execute_script("arguments[0].click();", element)

page_num = num // 15 + 1

for i in range(page_num):
    print(i+1, 'ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.')

    time.sleep(3)
    beer_info = driver.find_elements(By.CSS_SELECTOR, '.px-4.fj-s.f-wrap')
    print(beer_info[0].text)
    tmp = []
    for i in range(15):
        tmp.append(beer_info[i].text)

    tmp = pd.DataFrame(data=tmp, columns=['ë§¥ì£¼ì •ë³´'])
    tmp['ë§¥ì£¼ì´ë¦„'] = beer_name
    tmp['ê²€ìƒ‰ì´ë¦„'] = 'kloud'
    data = pd.concat([data, tmp])

    print(data)

C:\Users\oopp9\AppData\Local\Temp\ipykernel_55680\3586441523.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chromedriver)

Kloud Original Gravity
Reviews (108)
108
108
1 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[135 rows x 3 columns]
2 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[150 rows x 3 columns]
3 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[165 rows x 3 columns]
4 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[180 rows x 3 columns]
5 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[195 rows x 3 columns]
6 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[210 rows x 3 columns]
7 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[225 rows x 3 columns]
8 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
italianjohn(5,276)
ğŸ‡ºğŸ‡¸Penndel, United States
2.8September 6, 2021
Clear golden blonde pour with a thin white head and spots of lacing â€¦. Aroma of sweet malts, caramel malt, some light floral notes, grape  and a little bit of lemon â€¦ taste is of theâ€¦
Show more
BOTTLE
Aroma
5
Appearance
3
Flavor
5
Mouthfeel
3
Overall
12
                                                 ë§¥ì£¼ì •ë³´   ê²€ìƒ‰ì´ë¦„  \
0   italianjohn(5,276)\nğŸ‡ºğŸ‡¸Penndel, United States\n...  kloud
1   orda(284)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...  kloud
2   Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...  kloud
3   geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...  kloud
4   Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...  kloud
..                                                ...    ...
10  deanso(15,284)\nğŸ‡¬ğŸ‡§Doncaster, England\n2.3Janua...  kloud
11  onceblind(17,734)\nğŸ‡ºğŸ‡¸Denver, United States\n3....  kloud
12  DrNosha(7,429)\nğŸ‡©ğŸ‡ªWÃ¼rttemberg, Germany\n2.3Dec...  kloud
13  mkel07(10,012)\nğŸ‡¦ğŸ‡ºBrisbane, Australia\n2.4Octo...  kloud
14  bladerunner53(23)\nğŸ‡³ğŸ‡±Netherlands\n2.5October 9...  kloud

                      ë§¥ì£¼ì´ë¦„
0   Kloud Original Gravity
1   Kloud Original Gravity
2   Kloud Original Gravity
3   Kloud Original Gravity
4   Kloud Original Gravity
..                     ...
10  Kloud Original Gravity
11  Kloud Original Gravity
12  Kloud Original Gravity
13  Kloud Original Gravity
14  Kloud Original Gravity

[240 rows x 3 columns]

In [7]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import re

beer_list = ['Leffe Brown',
 'Lowenbrau Original', 'Asahi Super dray Black ', 'Harbin Beer', "beck's",
 'Hoegaarden Rosee', 'Platinum White Ale', 'Platinum Pale Ale', 'Ambar Especial Larger',
 'SchÃ¶fferhofer Grapefruit', 'Volfas Engelman GrÃ¼nberger Hefeweizen', 'Berliner Kindl Pilsener ',
 'BURGE MEESTER', 'Red Rock', 'Erdinger Dunkel', 'Warsteiner Premium Verum', "Queen's Ale Blonde Type"]

beer_list = pd.DataFrame(data=beer_list, columns=['ê²€ìƒ‰ì´ë¦„'])

data = pd.DataFrame(data=[], columns=['ë§¥ì£¼ì •ë³´', 'ê²€ìƒ‰ì´ë¦„', 'ë§¥ì£¼ì´ë¦„'])

chromedriver = 'chromedriver.exe'

url = 'https://www.ratebeer.com/search?tab=beer'

# driver = webdriver.Chrome(chromedriver)
# driver.get(url)
# driver.set_window_size(900, 900)
# time.sleep(3)

# element = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/header/div[2]/div[1]/div[2]/div/div/input')
# time.sleep(3)
# element.click()

def crawl(driver, beer, data, k):
    print('url_open {0} ë§¥ì£¼ ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•©ë‹ˆë‹¤.'.format(beer))
    driver = webdriver.Chrome(chromedriver)
    driver.get(url)
    driver.set_window_size(900, 900)
    time.sleep(3)
    element = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/header/div[2]/div[1]/div[2]/div/div/input')
    time.sleep(3)
    element.click()
    time.sleep(3)
    element.send_keys(beer)
    time.sleep(3)

    driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/header/div[2]/div[1]/div[2]/div/div[2]/a[1]/div/div[2]').click()
    time.sleep(3)
    beer_name = driver.find_element(By.CSS_SELECTOR, '.MuiTypography-root.Text___StyledTypographyTypeless-bukSfn.pzIrn.text-500.colorized__WrappedComponent-hrwcZr.hwjOn.mt-3.MuiTypography-h4').text

    error_cnt = 0

    while True:
        try:
            time.sleep(3)
            string = driver.find_element(By.CLASS_NAME, 'MuiTypography-root.Text___StyledTypographyTypeless-bukSfn.pzIrn.text-500.colorized__WrappedComponent-hrwcZr.hwjOn.MuiTypography-h6').text

            extract = re.compile('[0-9]*,*[0-9]+')
            str_num = extract.findall(string)
            str_num = str_num[0]

            print('ì„±ê³µ whileë¬¸ì„ íƒˆì¶œí•©ë‹ˆë‹¤.')
            break
        except:
            print('ì˜¤ë¥˜ ë‹¤ì‹œ ì‹œì‘í•©ë‹ˆë‹¤.')

            error_cnt += 1

            if error_cnt == 5:
                print('ì—°ì†ëœ ì˜¤ë¥˜ë¡œ ë‹¤ìŒ ë§¥ì£¼ë¡œ ë„˜ì–´ê°‘ë‹ˆë‹¤.')
                return
    
    if ',' in str_num:
        str_num = str_num.split(',')
        str_num = int(str_num[0]+str_num[1])
        num = str_num
    else:
        num = int(str_num)

    time.sleep(3)
    element = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[4]/div/div[2]/div[1]/div[2]')
    time.sleep(3)
    driver.execute_script("arguments[0].click();", element)
    
    page_num = num // 15 + 1

    for i in range(page_num):
        print(i+1, 'ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.')

        time.sleep(3)
        beer_info = driver.find_elements(By.CSS_SELECTOR, '.px-4.fj-s.f-wrap')

        tmp = []

        for i in range(len(beer_info)):
            tmp.append(beer_info[i].text)

        tmp = pd.DataFrame(data=tmp, columns=['ë§¥ì£¼ì •ë³´'])
        tmp['ë§¥ì£¼ì´ë¦„'] = beer_name
        tmp['ê²€ìƒ‰ì´ë¦„'] = beer
        data = pd.concat([data, tmp])

        try:
            element = driver.find_element(By.XPATH, '//button[@title="Next page"]/span[@class="MuiIconButton-label"]')
            time.sleep(3)
            driver.execute_script("arguments[0].click();", element)
        except:
            print("ë§ˆì§€ë§‰ í˜ì´ì§€ì…ë‹ˆë‹¤.")

    if num != len(data):
        data = data[:num]

    print('ë¦¬ë·°ìˆ˜ : ', num, 'ìˆ˜ì§‘ëœ ë¦¬ë·°ìˆ˜ :', len(data))

    result = pd.merge(data, beer_list, on='ê²€ìƒ‰ì´ë¦„', how='left')
    result.to_csv("beer_n"+str(k + 59)+".csv", encoding='utf-8')

    driver.quit()

    return result
    
for k in range(len(beer_list)):
    result = crawl(driver, beer_list['ê²€ìƒ‰ì´ë¦„'].iloc[k], data, k)

url_open Leffe Brown ë§¥ì£¼ ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•©ë‹ˆë‹¤.

C:\Users\oopp9\AppData\Local\Temp\ipykernel_55680\1387863853.py:34: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chromedriver)

ì„±ê³µ whileë¬¸ì„ íƒˆì¶œí•©ë‹ˆë‹¤.
1 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
2 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
3 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
4 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
5 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
6 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
7 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
8 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
9 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
10 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
11 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
12 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
13 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
14 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
15 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
16 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
17 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
18 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
19 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
20 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
21 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
22 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
23 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
24 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
25 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
26 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
27 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
28 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
29 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
30 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
31 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
32 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
33 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
34 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
35 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
36 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
37 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
38 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
39 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
40 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
41 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
42 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
43 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
44 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
45 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
46 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
47 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
48 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
49 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
50 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
51 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
52 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
53 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
54 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
55 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
56 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
57 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
58 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
59 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
60 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
61 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
62 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
63 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
64 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
65 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
66 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
67 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
68 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
69 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
70 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
71 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
72 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
73 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
74 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
75 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
76 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
77 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
78 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
79 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
80 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
81 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
82 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
83 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
84 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
85 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
86 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
87 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
88 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
89 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
90 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
91 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
92 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
93 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
94 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
95 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
96 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
97 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
98 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
99 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
100 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
101 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
102 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
103 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
104 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
105 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
106 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
107 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
108 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
109 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
110 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
111 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
112 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
113 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
114 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
115 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
116 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
117 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
118 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
119 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
120 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
121 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
122 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
123 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
124 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
125 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
126 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
127 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
128 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
129 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
130 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
131 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
132 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
133 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
134 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
135 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
136 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
137 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
138 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
139 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
140 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
141 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
142 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
143 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
144 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
145 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
146 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
147 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
148 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
149 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
150 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
151 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
152 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
153 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
154 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
155 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
156 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.
157 ë²ˆì§¸ í˜ì´ì§€ì…ë‹ˆë‹¤.

In [12]:
read_data = pd.read_csv("beer_n0.csv")

read_data

,Unnamed: 0,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„
0,0,"italianjohn(5,273)\nğŸ‡ºğŸ‡¸Penndel, United States\n...",kloud,Kloud Original Gravity
1,1,"orda(283)\nğŸ‡ºğŸ‡¸Aurora, United States\n3.9August ...",kloud,Kloud Original Gravity
2,2,"Radek Kliber(8,065)\nğŸ‡¨ğŸ‡¦Toronto (Can) Krotoszyn...",kloud,Kloud Original Gravity
3,3,"geologyguy(2,575)\nğŸ‡ºğŸ‡¸Columbia, United States\n...",kloud,Kloud Original Gravity
4,4,"Wolff90(203)\nğŸ‡¸ğŸ‡ªUpplands VÃ¤sby, Sweden\n1.0Feb...",kloud,Kloud Original Gravity
...,...,...,...,...
103,103,"fredthecat(548)\nğŸ‡¨ğŸ‡¦Canada\n1.8November 4, 2014...",kloud,Kloud Original Gravity
104,104,"dhunter151(590)\nğŸ‡ºğŸ‡¸Santa Rosa, United States\n...",kloud,Kloud Original Gravity
105,105,"maus(46)\nğŸ‡ªğŸ‡ªTartu, Estonia\n2.3July 17, 2014\n...",kloud,Kloud Original Gravity
106,106,"hojoo(4)\n2.8July 16, 2014\nunfortunately, too...",kloud,Kloud Original Gravity
107,107,"migojarad(3)\nğŸ‡°ğŸ‡·Seoul, South Korea\n2.1June 17...",kloud,Kloud Original Gravity

In [29]:
guinness = pd.read_csv("beer_n40.csv")
guinness

,Unnamed: 0,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„
0,0,"borderline_alco(187)\nğŸ‡¬ğŸ‡§Durham, England\n3.3Se...",Guinness original,Guinness Original 4.2% (Ireland/UK)
1,1,"Salian(1,761)\nğŸ‡¬ğŸ‡§Sale, England\n3.5September 4...",Guinness original,Guinness Original 4.2% (Ireland/UK)
2,2,"reidyboy(1,008)\nğŸ‡¬ğŸ‡§Shrewsbury, England\n3.3Jul...",Guinness original,Guinness Original 4.2% (Ireland/UK)
3,3,"lmlikesstout(614)\nğŸ‡¬ğŸ‡§Andover, Hampshire, UK, E...",Guinness original,Guinness Original 4.2% (Ireland/UK)
4,4,"a-beier(781)\nğŸ‡©ğŸ‡°Denmark\n3.7November 7, 2021\n...",Guinness original,Guinness Original 4.2% (Ireland/UK)
...,...,...,...,...
611,611,"Bloemart(256)\nğŸ‡³ğŸ‡±Netherlands\n1.7August 6, 200...",Guinness original,Guinness Original 4.2% (Ireland/UK)
612,612,"jerohen(2,619)\nğŸ‡³ğŸ‡±Bussum, Netherlands\n3.2Octo...",Guinness original,Guinness Original 4.2% (Ireland/UK)
613,613,"caesar(7,642)\nğŸ‡³ğŸ‡±Bunnik, Netherlands\n1.3Augus...",Guinness original,Guinness Original 4.2% (Ireland/UK)
614,614,"Loic99(23)\nğŸ‡±ğŸ‡ºLuxembourg\n1.4July 26, 2001\npe...",Guinness original,Guinness Original 4.2% (Ireland/UK)
615,615,"DJH-Bird99(207)\nğŸ‡³ğŸ‡±Nijkerk, Netherlands\n2.1No...",Guinness original,Guinness Original 4.2% (Ireland/UK)

In [30]:
cass = pd.read_csv("beer_n13.csv")
cass

,Unnamed: 0,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„
0,0,"m7hildeb(894)\n1.9November 5, 2022\nBottle. Cl...",cass fresh,Cass Fresh
1,1,"kingmidas(47)\n1.2September 21, 2022\nTaki kon...",cass fresh,Cass Fresh
2,2,"medkung(156)\nğŸ‡¹ğŸ‡­Bangkok, Thailand\n2.3Septembe...",cass fresh,Cass Fresh
3,3,"midovark(5,283)\nğŸ‡³ğŸ‡±Alkmaar, Netherlands\n1.6Ju...",cass fresh,Cass Fresh
4,4,"caribou43(2,685)\nğŸ‡¨ğŸ‡­Lausanne, Switzerland\n3.2...",cass fresh,Cass Fresh
...,...,...,...,...
303,303,"IslandHaole(1,302)\nğŸ‡¯ğŸ‡µMisawa, Japan\n0.8May 26...",cass fresh,Cass Fresh
304,304,"MrRomero(1,976)\nğŸ‡ºğŸ‡¸Nolanville, United States\n...",cass fresh,Cass Fresh
305,305,"Ernest(9,184)\nğŸ‡ºğŸ‡¸Boulder, United States\n1.5Ma...",cass fresh,Cass Fresh
306,306,"Oakes(28,105)\nğŸ‡¨ğŸ‡¦Richmond, Canada\n1.1March 30...",cass fresh,Cass Fresh
307,307,"Brian(145)\nğŸ‡¨ğŸ‡¦Canada\n2.0March 10, 2002\nThe b...",cass fresh,Cass Fresh

In [31]:
import pandas as pd

data = pd.DataFrame(data=[], columns = ['ë§¥ì£¼ì •ë³´', 'ê²€ìƒ‰ì´ë¦„', 'ë§¥ì£¼ì´ë¦„'])

In [32]:
data = pd.concat([guinness, cass])
data

,Unnamed: 0,ë§¥ì£¼ì •ë³´,ê²€ìƒ‰ì´ë¦„,ë§¥ì£¼ì´ë¦„
0,0,"borderline_alco(187)\nğŸ‡¬ğŸ‡§Durham, England\n3.3Se...",Guinness original,Guinness Original 4.2% (Ireland/UK)
1,1,"Salian(1,761)\nğŸ‡¬ğŸ‡§Sale, England\n3.5September 4...",Guinness original,Guinness Original 4.2% (Ireland/UK)
2,2,"reidyboy(1,008)\nğŸ‡¬ğŸ‡§Shrewsbury, England\n3.3Jul...",Guinness original,Guinness Original 4.2% (Ireland/UK)
3,3,"lmlikesstout(614)\nğŸ‡¬ğŸ‡§Andover, Hampshire, UK, E...",Guinness original,Guinness Original 4.2% (Ireland/UK)
4,4,"a-beier(781)\nğŸ‡©ğŸ‡°Denmark\n3.7November 7, 2021\n...",Guinness original,Guinness Original 4.2% (Ireland/UK)
...,...,...,...,...
303,303,"IslandHaole(1,302)\nğŸ‡¯ğŸ‡µMisawa, Japan\n0.8May 26...",cass fresh,Cass Fresh
304,304,"MrRomero(1,976)\nğŸ‡ºğŸ‡¸Nolanville, United States\n...",cass fresh,Cass Fresh
305,305,"Ernest(9,184)\nğŸ‡ºğŸ‡¸Boulder, United States\n1.5Ma...",cass fresh,Cass Fresh
306,306,"Oakes(28,105)\nğŸ‡¨ğŸ‡¦Richmond, Canada\n1.1March 30...",cass fresh,Cass Fresh
307,307,"Brian(145)\nğŸ‡¨ğŸ‡¦Canada\n2.0March 10, 2002\nThe b...",cass fresh,Cass Fresh

In [33]:
data = data[['ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼ì •ë³´']]

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 924 entries, 0 to 307
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ë§¥ì£¼ì´ë¦„    924 non-null    object
 1   ë§¥ì£¼ì •ë³´    924 non-null    object
dtypes: object(2)
memory usage: 21.7+ KB

In [35]:
data['ë§¥ì£¼ì •ë³´'].iloc[0]

'borderline_alco(187)\nğŸ‡¬ğŸ‡§Durham, England\n3.3September 5, 2022\nRoasted malt and toffee, some burnt bread, black coffee, slight sourness. Slight metallic hop finish, with more burnt bread. Thin mouthfeel, but slightly creamy. The cans haveâ€¦\nShow more\nAroma\n-\nAppearance\n-\nFlavor\n-\nMouthfeel\n-\nOverall\n-'

In [68]:
df = data.copy()

df['ë§¥ì£¼ì •ë³´'] = df['ë§¥ì£¼ì •ë³´'].str.split('\n')
df['ë§¥ì£¼ì •ë³´']

0      [borderline_alco(187), ğŸ‡¬ğŸ‡§Durham, England, 3.3S...
1      [Salian(1,761), ğŸ‡¬ğŸ‡§Sale, England, 3.5September ...
2      [reidyboy(1,008), ğŸ‡¬ğŸ‡§Shrewsbury, England, 3.3Ju...
3      [lmlikesstout(614), ğŸ‡¬ğŸ‡§Andover, Hampshire, UK, ...
4      [a-beier(781), ğŸ‡©ğŸ‡°Denmark, 3.7November 7, 2021,...
                             ...
303    [IslandHaole(1,302), ğŸ‡¯ğŸ‡µMisawa, Japan, 0.8May 2...
304    [MrRomero(1,976), ğŸ‡ºğŸ‡¸Nolanville, United States,...
305    [Ernest(9,184), ğŸ‡ºğŸ‡¸Boulder, United States, 1.5M...
306    [Oakes(28,105), ğŸ‡¨ğŸ‡¦Richmond, Canada, 1.1March 3...
307    [Brian(145), ğŸ‡¨ğŸ‡¦Canada, 2.0March 10, 2002, The ...
Name: ë§¥ì£¼ì •ë³´, Length: 924, dtype: object

In [69]:
df['ë§¥ì£¼ì •ë³´'].iloc[3]

['lmlikesstout(614)',
 'ğŸ‡¬ğŸ‡§Andover, Hampshire, UK, England',
 '3.5February 28, 2022',
 'Bottle 500ml (BB: 25/11/22);',
 'Look: almost jet black with a light tan head. Moderate carbonation. Nice lacing.â€¦',
 'Show more',
 'BOTTLE',
 '@ Tesco Supermarket (Various locations)',
 'Aroma',
 '7',
 'Appearance',
 '4',
 'Flavor',
 '7',
 'Mouthfeel',
 '4',
 'Overall',
 '13']

In [70]:
df['ë§¥ì£¼ì •ë³´'].iloc[1][-10:]

['Aroma',
 '7',
 'Appearance',
 '4',
 'Flavor',
 '7',
 'Mouthfeel',
 '3',
 'Overall',
 '14']

In [71]:
df['Aroma'] = df['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-9])
df['Appearance'] = df['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-7])
df['Flavor'] = df['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-5])
df['Mouthfeel'] = df['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-3])
df['Overall'] = df['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-1])

In [72]:
df.head()

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Guinness Original 4.2% (Ireland/UK),"[borderline_alco(187), ğŸ‡¬ğŸ‡§Durham, England, 3.3S...",-,-,-,-,-
1,Guinness Original 4.2% (Ireland/UK),"[Salian(1,761), ğŸ‡¬ğŸ‡§Sale, England, 3.5September ...",7,4,7,3,14
2,Guinness Original 4.2% (Ireland/UK),"[reidyboy(1,008), ğŸ‡¬ğŸ‡§Shrewsbury, England, 3.3Ju...",6,4,6,4,13
3,Guinness Original 4.2% (Ireland/UK),"[lmlikesstout(614), ğŸ‡¬ğŸ‡§Andover, Hampshire, UK, ...",7,4,7,4,13
4,Guinness Original 4.2% (Ireland/UK),"[a-beier(781), ğŸ‡©ğŸ‡°Denmark, 3.7November 7, 2021,...",7,4,7,4,15

In [73]:
df = df[['ë§¥ì£¼ì´ë¦„', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall']]
df

,ë§¥ì£¼ì´ë¦„,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Guinness Original 4.2% (Ireland/UK),-,-,-,-,-
1,Guinness Original 4.2% (Ireland/UK),7,4,7,3,14
2,Guinness Original 4.2% (Ireland/UK),6,4,6,4,13
3,Guinness Original 4.2% (Ireland/UK),7,4,7,4,13
4,Guinness Original 4.2% (Ireland/UK),7,4,7,4,15
...,...,...,...,...,...,...
303,Cass Fresh,2,1,1,2,2
304,Cass Fresh,2,2,2,2,5
305,Cass Fresh,2,3,3,2,5
306,Cass Fresh,2,1,2,2,4
307,Cass Fresh,4,2,4,2,8

In [74]:
df.iloc[51]

ë§¥ì£¼ì´ë¦„          Guinness Original 4.2% (Ireland/UK)
Aroma                                           7
Appearance                                      4
Flavor                                          6
Mouthfeel                                       3
Overall                                        12
Name: 51, dtype: object

In [75]:
df.reset_index(drop=True)

,ë§¥ì£¼ì´ë¦„,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Guinness Original 4.2% (Ireland/UK),-,-,-,-,-
1,Guinness Original 4.2% (Ireland/UK),7,4,7,3,14
2,Guinness Original 4.2% (Ireland/UK),6,4,6,4,13
3,Guinness Original 4.2% (Ireland/UK),7,4,7,4,13
4,Guinness Original 4.2% (Ireland/UK),7,4,7,4,15
...,...,...,...,...,...,...
919,Cass Fresh,2,1,1,2,2
920,Cass Fresh,2,2,2,2,5
921,Cass Fresh,2,3,3,2,5
922,Cass Fresh,2,1,2,2,4
923,Cass Fresh,4,2,4,2,8

In [76]:
df = df[df['Aroma']!='-']
df = df[df['Appearance']!='-']
df = df[df['Flavor']!='-']
df = df[df['Mouthfeel']!='-']
df = df[df['Overall']!='-']
df[df['Aroma']=='-']

Empty DataFrame
Columns: [ë§¥ì£¼ì´ë¦„, Aroma, Appearance, Flavor, Mouthfeel, Overall]
Index: []

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 904 entries, 1 to 307
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë§¥ì£¼ì´ë¦„        904 non-null    object
 1   Aroma       904 non-null    object
 2   Appearance  904 non-null    object
 3   Flavor      904 non-null    object
 4   Mouthfeel   904 non-null    object
 5   Overall     904 non-null    object
dtypes: object(6)
memory usage: 49.4+ KB

In [78]:
df.Aroma.unique()

array(['7', '6', '5', '8', '9', '4', '10', 'Appearance', '3', '2', '1'],
      dtype=object)

In [79]:
df[df["Aroma"] == 'Appearance']

,ë§¥ì£¼ì´ë¦„,Aroma,Appearance,Flavor,Mouthfeel,Overall
66,Guinness Original 4.2% (Ireland/UK),Appearance,Flavor,Mouthfeel,Overall,1
17,Cass Fresh,Appearance,Flavor,Mouthfeel,Overall,1
24,Cass Fresh,Appearance,Flavor,Mouthfeel,Overall,1
33,Cass Fresh,Appearance,Flavor,Mouthfeel,Overall,1

In [80]:
df = df.reset_index(drop=True)

In [81]:
df[df["Aroma"] == 'Appearance']

,ë§¥ì£¼ì´ë¦„,Aroma,Appearance,Flavor,Mouthfeel,Overall
55,Guinness Original 4.2% (Ireland/UK),Appearance,Flavor,Mouthfeel,Overall,1
617,Cass Fresh,Appearance,Flavor,Mouthfeel,Overall,1
624,Cass Fresh,Appearance,Flavor,Mouthfeel,Overall,1
631,Cass Fresh,Appearance,Flavor,Mouthfeel,Overall,1

In [82]:
df.drop([55], inplace=True)
df.drop([617], inplace=True)
df.drop([624], inplace=True)
df.drop([631], inplace=True)

In [83]:
df = df.reset_index(drop=True)

In [84]:
df[df["Aroma"] == 'Appearance']

Empty DataFrame
Columns: [ë§¥ì£¼ì´ë¦„, Aroma, Appearance, Flavor, Mouthfeel, Overall]
Index: []

In [85]:
df['Aroma'] = df['Aroma'].astype('int')
df['Appearance'] = df['Appearance'].astype('int')
df['Flavor'] = df['Flavor'].astype('int')
df['Mouthfeel'] = df['Mouthfeel'].astype('int')
df['Overall'] = df['Overall'].astype('int')

In [63]:
# df.drop_duplicates(keep='first', inplace=True)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë§¥ì£¼ì´ë¦„        900 non-null    object
 1   Aroma       900 non-null    int32
 2   Appearance  900 non-null    int32
 3   Flavor      900 non-null    int32
 4   Mouthfeel   900 non-null    int32
 5   Overall     900 non-null    int32
dtypes: int32(5), object(1)
memory usage: 24.7+ KB

In [87]:
df['ë§¥ì£¼ì´ë¦„'].value_counts()

Guinness Original 4.2% (Ireland/UK)    602
Cass Fresh                             298
Name: ë§¥ì£¼ì´ë¦„, dtype: int64

In [88]:
df.rename(columns={'ë§¥ì£¼ì´ë¦„':'name'}, inplace=True)
df

,name,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Guinness Original 4.2% (Ireland/UK),7,4,7,3,14
1,Guinness Original 4.2% (Ireland/UK),6,4,6,4,13
2,Guinness Original 4.2% (Ireland/UK),7,4,7,4,13
3,Guinness Original 4.2% (Ireland/UK),7,4,7,4,15
4,Guinness Original 4.2% (Ireland/UK),5,4,5,2,12
...,...,...,...,...,...,...
895,Cass Fresh,2,1,1,2,2
896,Cass Fresh,2,2,2,2,5
897,Cass Fresh,2,3,3,2,5
898,Cass Fresh,2,1,2,2,4
899,Cass Fresh,4,2,4,2,8

In [89]:
df.describe()

            Aroma  Appearance      Flavor   Mouthfeel     Overall
count  900.000000  900.000000  900.000000  900.000000  900.000000
mean     5.173333    3.296667    5.335556    2.814444   10.721111
std      1.892248    1.057728    1.954619    0.957386    4.096853
min      1.000000    1.000000    1.000000    1.000000    1.000000
25%      4.000000    3.000000    4.000000    2.000000    8.000000
50%      5.000000    3.000000    6.000000    3.000000   12.000000
75%      7.000000    4.000000    7.000000    3.000000   14.000000
max     10.000000    5.000000   10.000000    5.000000   20.000000

In [ ]:
df.to_csv('after_df.csv', encoding='utf-8')

In [190]:
df = pd.read_csv("after_df.csv", index_col=0)
df

,name,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Guinness Original 4.2% (Ireland/UK),7,4,7,3,14
1,Guinness Original 4.2% (Ireland/UK),6,4,6,4,13
2,Guinness Original 4.2% (Ireland/UK),7,4,7,4,13
3,Guinness Original 4.2% (Ireland/UK),7,4,7,4,15
4,Guinness Original 4.2% (Ireland/UK),5,4,5,2,12
...,...,...,...,...,...,...
895,Cass Fresh,2,1,1,2,2
896,Cass Fresh,2,2,2,2,5
897,Cass Fresh,2,3,3,2,5
898,Cass Fresh,2,1,2,2,4
899,Cass Fresh,4,2,4,2,8

In [192]:
from psycopg2.extensions import register_adapter, AsIs
import numpy
import psycopg2

conn = psycopg2.connect(
    host = "peanut.db.elephantsql.com",
    database="marsovhi",
    user="marsovhi",
    password="6evFgIFweSp5EtSeWMSzOklLij6FLLzH"
)

cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS beer_data")

cur.execute("""set client_encoding = 'UTF8';""")

cur.execute(
    """CREATE TABLE beer_data (
        id INTEGER,
        name VARCHAR(128),
        Aroma INTEGER,
        Appearance INTEGER,
        Flavor INTEGER,
        Mouthfeel INTEGER,
        Overall INTEGER,
        PRIMARY KEY (id)
        );
"""
)

conn.commit()
conn.close()

In [194]:
from psycopg2.extensions import register_adapter, AsIs
import numpy
import psycopg2

conn = psycopg2.connect(
    host = "peanut.db.elephantsql.com",
    database="marsovhi",
    user="marsovhi",
    password="6evFgIFweSp5EtSeWMSzOklLij6FLLzH"
)

cur = conn.cursor()

def addapt_numpy_float64(numpy_float64):
    return AsIs(numpy_float64)


def addapt_numpy_int64(numpy_int64):
    return AsIs(numpy_int64)


register_adapter(numpy.float64, addapt_numpy_float64)
register_adapter(numpy.int64, addapt_numpy_int64)

df_list = []

for i in range(len(df)):
    df_list.append(
        [
            i,
            df["name"].loc[i],
            df["Aroma"].loc[i],
            df["Appearance"].loc[i],
            df["Flavor"].loc[i],
            df['Mouthfeel'].loc[i],
            df['Overall'].loc[i]
        ]
    )


for j in df_list:
    cur.execute(
        """INSERT INTO beer_data (id, name, Aroma, Appearance, Flavor, Mouthfeel, Overall) VALUES (%s, %s, %s, %s, %s, %s, %s);""",
        (j[0], j[1], j[2], j[3], j[4], j[5], j[6]),
    )

conn.commit()
conn.close()

In [195]:
conn = psycopg2.connect(
    host = "peanut.db.elephantsql.com",
    database="marsovhi",
    user="marsovhi",
    password="6evFgIFweSp5EtSeWMSzOklLij6FLLzH"
)

cur = conn.cursor()

cur.execute("SELECT * FROM beer_data;")

cur.fetchall()

cur.execute("SELECT * FROM beer_data;")

cur_list = cur.fetchall()

col = 'id', 'name', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel', 'Overall'
df = pd.DataFrame(columns=col)

for i in range(len(cur_list)):
    df.loc[i] = cur_list[i]

df

,id,name,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,0,Guinness Original 4.2% (Ireland/UK),7,4,7,3,14
1,1,Guinness Original 4.2% (Ireland/UK),6,4,6,4,13
2,2,Guinness Original 4.2% (Ireland/UK),7,4,7,4,13
3,3,Guinness Original 4.2% (Ireland/UK),7,4,7,4,15
4,4,Guinness Original 4.2% (Ireland/UK),5,4,5,2,12
...,...,...,...,...,...,...,...
895,895,Cass Fresh,2,1,1,2,2
896,896,Cass Fresh,2,2,2,2,5
897,897,Cass Fresh,2,3,3,2,5
898,898,Cass Fresh,2,1,2,2,4
899,899,Cass Fresh,4,2,4,2,8

In [199]:
from sklearn.model_selection import train_test_split

df['name'] = df['name'].replace({'Guinness Original 4.2% (Ireland/UK)':0, 'Cass Fresh':1})
df

     name  Aroma  Appearance  Flavor  Mouthfeel  Overall
0       0      7           4       7          3       14
1       0      6           4       6          4       13
2       0      7           4       7          4       13
3       0      7           4       7          4       15
4       0      5           4       5          2       12
..    ...    ...         ...     ...        ...      ...
895     1      2           1       1          2        2
896     1      2           2       2          2        5
897     1      2           3       3          2        5
898     1      2           1       2          2        4
899     1      4           2       4          2        8

[900 rows x 6 columns]

In [200]:
y = df['name']
X = df.drop('name', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y,  random_state=42, stratify=y)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state=42, stratify=y_train)

print("X_train shape: ", X_train.shape)
print("X_val shape: ", X_val.shape)
print("X_test shape: ", X_test.shape)

X_train shape:  (506, 5)
X_val shape:  (169, 5)
X_test shape:  (225, 5)

In [203]:
# mode(): Return the highest frequency value in a Series.
base_major = y_train.mode()[0]

# íƒ€ê²Ÿ ìƒ˜í”Œ ìˆ˜ ë§Œí¼ 0ì´ ë‹´ê¸´ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“­ë‹ˆë‹¤. ê¸°ì¤€ëª¨ë¸ë¡œ ì˜ˆì¸¡
y_pred_base = [base_major] * len(y_train)

In [204]:
from sklearn.metrics import accuracy_score

print("training accuracy: ", accuracy_score(y_train, y_pred_base).round(2))

training accuracy:  0.67

In [205]:
y_pred_base_val = [base_major] * len(y_val)
print("validation accuracy: ", accuracy_score(y_val, y_pred_base_val).round(2))

validation accuracy:  0.67

In [207]:
from category_encoders import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [208]:
model = DecisionTreeClassifier(random_state=1, criterion="entropy")

model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=1)

In [209]:
print("í›ˆë ¨ ì •í™•ë„", model.score(X_train, y_train))
print("ê²€ì¦ ì •í™•ë„", model.score(X_val, y_val))

í›ˆë ¨ ì •í™•ë„ 0.9802371541501976
ê²€ì¦ ì •í™•ë„ 0.893491124260355

In [212]:
y_pred = model.predict(X_test)

1.0

In [213]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.91      0.89       151
           1       0.79      0.72      0.75        74

    accuracy                           0.84       225
   macro avg       0.83      0.81      0.82       225
weighted avg       0.84      0.84      0.84       225

In [214]:
import pickle

with open("model.pkl", "wb") as pickle_file:
    pickle.dump(model, pickle_file)

In [216]:
model = pickle.load('model.pkl', 'rb')

TypeError: load() takes exactly 1 positional argument (2 given)

In [218]:
import numpy as np

model = pickle.load(open('model.pkl', 'rb'))

data1 = 3
data2 = 5
data3 = 1
data4 = 3
data5 = 5



arr = np.array([[data1, data2, data3, data4, data5]])
pred = model.predict(arr)
pred

c:\Users\oopp9\anaconda3\envs\beer\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)